body{
  margin: 0;
}
h1{
  font-size: 3em;
}
.container{
  display: flex;
  flex-direction: column;
}
.slogan{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}
#box-1, #box-2{
    width: 80%;
    margin: auto;
}
#box-1 p{
  max-width: 500px;
  margin: auto;
  line-height: 2;
  letter-spacing: 2px;
  font-size: 1.2em;
}

form{
    text-align: center;
    
}
.user-inputs{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.user-inputs input{
  border: none;
  border-bottom: 1px dotted black;
  padding: 15px;
  margin: 10px;
  transition: .2s ease-in-out;
  text-align: center;
  letter-spacing: 2px;
  width: 90%;
  clear: both;
}
 .user-inputs input:focus {
    transition: .2s ease-in-out;
    letter-spacing: 3px;
  }

/*=================================================================*/
fieldset{
  width: 94%;
}
.plan-seguro{
    max-width: 700px;
    margin: auto;
}
.plan-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

legend{
    margin: auto;
    letter-spacing: 2px;
  font-size: 1.2em;
}
fieldset .plan{
    margin: 20px auto;
    border: 1px solid black;
    padding: 30px;
    transition: .3s ease-in-out;
}
fieldset .plan:hover{
  box-shadow: 1px 1px 14px 0px black;
  transition: .3s ease-in-out;
}
.plan ul {
    list-style: none;
    padding: 0;
  }
  
  .plan ul li:before {
    content: '✓ ';
  }

input[type="checkbox" i]{
  cursor: pointer;
  width: 100%;
  position: absolute;
  opacity: 0;
  left: 0;
  height: inherit;
  margin: 0;
  z-index: 1;
}
  

    .filters-available-size {
      display: inline-block;
      margin-bottom: 10px;
    }

      /* Customize the label (the container) */
      label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 150px;
        height: 35px;
        font-size: 0.8em;
        margin-bottom: 8px;
        margin-right: 8px;
        line-height: 35px;
        text-align: center;
      }
        

      input[type="checkbox"]:hover ~ span[class="checkmark"] {
        display: block;
        border: 1px solid #1b1a20;
        background-color: black;
        color: white;
        transition: .3s ease-in-out;
      }

        input[type="checkbox"]:checked ~ span[class="checkmark"] {
          display: block;
          border: 1px solid #1b1a20;
          background-color: black;
          color: white;
          transition: .3s ease-in-out;
        }

        input[type="submit"]{
          margin: 50px;
          width: 100px;
          height: 32px;
          border: none;
          cursor: pointer;
          letter-spacing: 2px;
          background: gainsboro;
          transition: .3s ease-in-out;
        }

        input[type="submit"]:hover{
          border: 1px solid #1b1a20;
          background-color: black;
          color: white;
          transition: .3s ease-in-out;
        }
  
        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          width: 150px;
          height: 35px;
          font-size: 1.1em;
          line-height: 35px;
          text-align: center;
          color: #1b1a20;
          letter-spacing: 2px;
          background-color: #ececec;
          border: 1px solid transparent;
          transition: .3s ease-in-out;
        }

        #overlay {
          position: fixed;
          display: none;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.5);
          transition: .3s ease-in-out;
          z-index: 2;
          cursor: pointer;
        }
        
        #text{
          position: absolute;
          background-color: rgba(0, 0, 0, 0.554);
          top: 50%;
          left: 50%;
          font-size: 25px;
          padding: 20px;
          border: 1px solid white;
          color: white;
          transition: .3s ease-in-out;
          transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
        }
        
  
@media only screen and (min-width:800px){
    .user-inputs input{
        width: 60%;
      }
}